/* Form Styling */
.form-container {
    width: 50%;
    margin: 30px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 16px;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 100px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #101ee0;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #575757;
}

/* Table Styling */
#developer-data {
    width: 90%;
    margin: 50px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #333;
    color: white;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.button-container{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
#addTowerBtn{
    width: 40%;
    background-color: grey;
    cursor: pointer;
}
#towerListBtn{
    width: 40%;
    background-color: grey;
    cursor: pointer;
}
.edit-btn{
    background-color: blue;
}
.delete-btn{
    background-color: red;
    margin-top: 20px;
}